#ignore build folders
c/build/
cpp/build/
freertos_sim/
g_test/build/
make_tutorial/build_dir
c/ipc/volansys_ex6_chat_application/client/build/
c/ipc/volansys_ex6_chat_application/server/build/
c/ipc/volansys_ex6_chat_application/server/db/
c/ipc/volansys_ex6_chat_application/server/doc
c/ipc/volansys_ex6_chat_application/client/doc
cmake_volansys/step1/step1_build
cmake_volansys/volansys_ex1/build
cmake_volansys/volansys_ex2/build
cmake_volansys/step2/build
cmake_volansys/step3/build